div {
    display: block;
    margin: 0 auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    font-family: Arial;
    color: black;
    margin-left: 15px;
    margin-right: 15px
}